.main {
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper-details-contact {
  max-width: 1110px;
  margin: 0 auto;
}

.container-contact-details {
  position: relative;
}

.banner-background-details {
  background-image: url('../assets/property-details-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 330px;
  background-attachment: fixed;
  background-position: top;
}

.title-details {
  margin-top: 10px;
  font-size: 56px;
  font-weight: 500;
  position: absolute;
  top: 120px;
  line-height: 70px;
}

.breadcrumb {
  margin-top: 80px;
  color: #666;
  font-weight: 500;
  position: absolute;
  top: 120px;
}

main > .contact-container {
  display: flex;
  margin-top: 60px;
}

main > .contact-container .contact-map {
  width: 66%;
}

main > .contact-container .contact-page {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  align-items: center;
}

main > .contact-container .contact-page #contact-input {
  width: 100%;
  background-color: #F3F3F3;
}

main > .contact-container .contact-page #contact-text {
  max-width: 100%;
  min-width: 100%;
  background-color: #F3F3F3;
  padding: 2px 14px;
  border: solid #ccc 1px;
  border-radius: 5px;
  font-size: 14px;
}

main > .contact-container .contact-page #contact-text:focus {
  border: solid #FDA94F 1px;
  outline: none;
}

main > .contact-container .contact-page #contact-submit {
  width: 60%;
  height: 50%;
  border: none;
  color: #fff;
  background: #FDA94F;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

main > .contact-container .contact-page #contact-submit:hover {
  opacity: 0.8;
}

main > .contact-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-family: 'Open sans';
}

main > .contact-footer .contact-infos .contact-inner {
  margin-bottom: 10px;
}

main > .contact-footer .contact-infos .contact-inner i {
  color:#FDA94F;
  font-size: 14px;
}

main > .contact-footer .contact-infos .contact-inner span {
  color: #666;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .container-contact-details .wrapper-details-contact {
    max-width: 930px;
    margin: 0 auto;
  }

  .main {
    max-width: 930px;
  }
 }

 @media screen and (max-width: 990px) {
  .container-contact-details .wrapper-details-contact {
    max-width: 690px;
  }

  .main {
    max-width: 690px;
  }

  .main .contact-container {
    flex-direction: column;
  }

  .main .contact-footer {
    flex-wrap: wrap;
  }

  .main .contact-footer .contact-infos {
    margin-top: 20px;
  }

  .main .contact-container .contact-map {
    width: 100%;
  }

  .main .contact-container .contact-page {
    width: 100%;
  }

  main > .contact-container .contact-page #contact-submit {
    height: 46px;
  }

 }

 @media screen and (max-width: 770px) {
  .container-contact-details .wrapper-details-contact {
    max-width: 510px;
  }

  .main {
    max-width: 510px;
  }
}

@media screen and (max-width: 560px) {
  .container-contact-details .wrapper-details-contact {
    margin: 0 10px;
  }

  .main {
    margin: 0 10px;
  }

  .main .contact-footer {
    flex-direction: column;
  }
}












