.container-for-rent {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 1110px;
}

.container-for-rent h1 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.flex-container-rent {
  padding-top: 40px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flex-container-rent::-webkit-scrollbar {
  display: none;                                                                                                    
}

.card-properties-rent {
  position: relative;
  max-width: 255px;
  overflow: hidden;
  border-radius: 12px;
  background: #F6F6F6;
  flex: none;
  margin-right: 20px;
}

.card-details-rent {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-img-rent {
  width: 100%;
  min-height: 290px;
  margin-bottom: 10px;
  object-fit: cover;
}

.agency-logo-rent {
  position: absolute;
  top: 260px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 13px 16px -10px;
  overflow: hidden;
}

.agency-logo-rent img {
  position: relative;
  top: 5px;
  left: 1px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}

.contact-name-rent {
  font-size: 12px;
  color: #666;
}

.card-property-details-rent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid #c7c5c5 1px;
  margin-top: 8px;
  padding-top: 10px;
  padding-bottom: 18px;
}

.card-details-info-rent {
  font-size: 12px;
  color: #666;

}

.fas, .far {
  color: #FDA94F;
}

.fa {
  color: #666;
  margin-right: 6px;
  font-size: 12px;
}

.container-for-rent .card-properties-rent .card-details-rent a {
  text-decoration: none;
  font-weight: 500;
}

.container-for-rent .card-properties-rent .card-details-rent a:hover {
  color: #FDA94F;
}

.container-for-rent .nav-carousel {
  display: flex;
  align-self: center;
}

.container-for-rent .nav-carousel .prev-left, .container-for-rent .nav-carousel .prev-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #c7c5c5;
  margin-top: 15px;
}

.container-for-rent .nav-carousel .prev-left:hover, .container-for-rent .nav-carousel .prev-right:hover {
  border: solid 1px #FDA94F;
}

.container-for-rent .nav-carousel .prev-right {
  background-color: transparent;
}

.container-for-rent .nav-carousel .prev-right {
  margin-left: 10px;
}

.container-for-rent .nav-carousel .fas {
  font-size: 35px;
  color: #666;
}

.flex-container-rent .container-feature-rent {
  max-width: 540px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  flex: none;
  margin-right: 20px;
}

.flex-container-rent .container-feature-rent .feature-image-rent .feature-image-size-rent  {
  max-width: 100%;
  min-height: 440px;
  object-fit: cover;
}

.flex-container-rent .container-feature-rent .feature-image-rent {
  transition: ease-in 0.5s;
  position: relative;
}

.flex-container-rent .container-feature-rent .feature-image-rent:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.flex-container-rent .container-feature-rent .feature-info-rent {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.flex-container-rent .container-feature-rent .feature-title-rent, .feature-price-rent, .feature-more-info-rent {
  color: #ffffff;
}

.flex-container-rent .container-feature-rent .feature-image-rent .feature-overlay-rent {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0));
  color: #f1f1f1;
  width: 100%;
  height: 36%;
  transition: .5s ease;
  opacity:0.9;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.flex-container-rent .container-feature-rent .feature-info-rent a {
  text-decoration: none;
}

.flex-container-rent .container-feature-rent .feature-info-rent a h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.flex-container-rent .container-feature-rent .feature-info-rent a h2:hover {
  color:#FDA94F;
}

@media screen and (max-width: 1200px) {
  .container-for-rent {
    width: 930px;
  }

  .flex-container-rent .container-feature-rent {
    max-width: 370px;
    max-height: 523px;
    margin-right: 17px;
  }

  .flex-container-rent .container-feature-rent .feature-image-rent .feature-image-size-rent {
    min-height: 523px;
  }

  .card-properties-rent {
    margin-right: 17px;
  }
}

@media screen and (max-width: 990px) { 
  .container-for-rent {
    width: 690px;
  }

  .flex-container-rent .container-feature-rent {
    max-width: 690px;
    margin-right: 10px;
  }

  .card-properties-rent {
    max-width: 330px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 770px) {
  .container-for-rent {
    width: 510px;
  }

  .flex-container-rent .container-feature-rent {
    max-width: 510px;
  }

  .card-properties-rent {
    max-width: 240px;
  }
}

@media screen and (max-width: 560px) {
  .container-for-rent {
    max-width: 100%;
  }

  .flex-container-rent .container-feature-rent {
    width: 100%;
    margin-right: 1%;
  }

  .card-properties-rent {
    max-width: 48.5%;
    margin-right: 1%;
  }
 }

